@import '_variables';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .header {
        padding: $padding;
        background-color: $orange;
        .logo-title, .menu {
            display: inline-block;
        }
        .logo-title {
            font-size: 25px;
            color: white;
        }
        .menu {
            margin: .1em 0 0 2em;
            vertical-align: top;
            a {
                display: inline-block;
                padding: .5em .7em;
                color: white;
                text-decoration: none;
            }
        }
        .add-route {
            float: right;
            background-color: $orange;
            color: $white;
            input {
                padding: .5em;
                border: 1px solid #dc3b02;
                background-color: #f3f3f3;
                font-size: .9em;
                &::placeholder {
                    color: #bbb;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #bbb;
                }
                &::-ms-input-placeholder {
                    color: #bbb;
                }
            }
        }
        .sync-routes {
            float: right;
            margin: .5em;
            a {
                padding: .8em;
                //border: 1px solid #dc3b02;
                //background-color: #dc3b02;
                color: white;
                text-decoration: none;
            }
        }
    }

    .flashes {
        .flash {
            margin: 2px 0;
            padding: 1em;
            text-align: center;
        }
        .flash-notice {
            background-color: lightgreen;
        }
        .flash-error {
            color: white;
            background-color: red;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        padding: 1em;
        background-color: $almostBlack;
        a {
            display: block;
            padding: .5em 1em;
            text-decoration: none;
            font-size: .8em;
            color: #aaa;
            &:hover {
                color: $white;
            }
        }
    }

    a {
        color: black;
        &:hover {
            color: $orange;
        }
    }

    ul.menu {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: $orange;
        list-style-type: none;

        li {
            display: inline;

            a {
                display: inline-block;
                padding: $padding;
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $orange;
                    background-color: $white;
                }
            }
        }
    }
}
