@import '_variables';
@import '_mixins';

$imageWidth: 75px;
$nameWidth: calc(40% - 2em);
$distanceWidth: calc(10% - 2em);
$ascentWidth: calc(10% - 2em);
$athleteWidth: calc(18% - 2em);
$updatedWidth: calc(12% - 2em);
$locationWidth: calc(30% - 2em);

.page_athletes {
    .head {
        display: flex;
        margin: 2px 0 0;
        padding: 0;
        background-color: #f0f0f0;

        & > div {
            display: flex;
            padding: .5em 1em;
            .sort {
                margin: 0 0 0 .3em;
            }
        }
        &::after {
            content: "";
            clear: both;
            display: table;
        }
        &.even {
            background-color: #f9f9f9;
        }

        .image {
            width: $imageWidth;
        }
        .name {
            width: $nameWidth;
        }
        .distance {
            width: $distanceWidth;
            .unit {
                @include unit;
            }
        }
        .ascent {
            width: $ascentWidth;
            .unit {
                @include unit;
            }
        }
        .athlete {
            width: $athleteWidth;
        }
        .updated {
            width: $updatedWidth;
        }
    }

    .section_rows {
        margin: 2px 0;

        .row {
            border-bottom: 1px solid #eee;
            &.even {
                background-color: #f9f9f9;
            }
            &.synchronised-1 {
                .name {
                    font-weight: bold;
                }
            }
            & > * {
                float: left;
                margin: 0;
                padding: $padding;
            }
            .image {
                width: $imageWidth;
                img {
                    border-radius: 50%;
                }
            }
            .name {
                width: $nameWidth;
            }
            .routes {
                width: $distanceWidth;
                a {
                    text-decoration: none;
                }
                .starred {
                    color: #bbb;
                }
            }
            .last_sync {
                color: #bbb;
            }
            &::after {
                content: "";
                clear: both;
                display: table;
            }
            .description {
                margin-top: .3em;
                font-size: .6em;
                color: #aaa;
                font-weight: normal;
                a {
                    text-decoration: none;
                    color: #aaa;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            .distance {
                text-align: right;
            }
            .ascent {
                text-align: right;
            }
        }
    }
}
