@import '_variables';
@import '_mixins';

body {
    background-image: url("../../images/bonette-small.jpg");
    background-image: url("../../images/bonette.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .background-enhanced {
        background-image: url("../../images/bonette.jpg");
    }

    .app {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        text-align: center;
        color: $white;
        .title {
            font-size: 4em;
        }
        .strapline {
            margin-top: 1em;
            font-size: 2em;
        }
    }
    .step1, .step2 {
        position: absolute;
        padding: 2em 3em;
        background-color: $orange;
        color: $white;
        .step-title {
            margin: .5em 0 1em;
            line-height: 1.3em;
            font-size: 1.4em;
            font-weight: bold;
        }
        .step-desc {
            line-height: 1.5em;
            font-size: .8em;
        }
        a.button {
            display: inline-block;
            border: 1px solid $white;
            margin-top: 2em;
            padding: .5em 1em;
            color: $white;
            text-decoration: none;
            &:hover {
                background-color: $white;
                color: $orange;
                @include transition;
            }
        }
    }
    .step1 {
        bottom: 5%;
        left: 0;
    }
    .step2 {
        bottom: 5%;
        right: 0;
    }
}
