@import '_variables';
@import '_mixins';

@media screen and (max-width: 760px) {
    html {
        body {
            .flashes {
                line-height: 1.4em;
                .flash {
                    margin-top: 0;
                }
            }
            .page_routes {
                $checkboxWidth: 10%;
                $nameWidth: 50%;
                $athleteWidth: 40%;
                $distanceWidth: 25%;
                $elevationGainWidth: 25%;
                $updatedWidth: 40%;

                margin-bottom: 0;

                .checkbox {
                    width: $checkboxWidth;
                }
                .id {
                    display: none;
                }
                .name {
                    width: $nameWidth;
                    color: #000 !important;
                }
                .distance {
                    width: $distanceWidth;
                    margin-left: $checkboxWidth;
                    text-align: left;
                    font-size: .9em;
                }
                .elevation_gain {
                    width: $elevationGainWidth;
                    text-align: left;
                    font-size: .9em;
                }
                .athlete {
                    order: 4;
                    -webkit-order: 4;
                    width: $athleteWidth;
                    font-size: .9em;
                }
                .created {
                    display: none;
                }
                .updated {
                    width: $updatedWidth;
                    font-size: .9em;
                }

                .head, .row {
                    flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    padding: .7em 0;
                    .cell {
                        padding: .3em .5em;
                        color: #999;
                    }
                    .number {
                        text-align: left;
                    }
                }
                .submit {
                    position: relative;
                    padding: .5em .5em 2em;
                    .toggle {
                        left: .5em;
                    }
                    button {
                        margin-top: 3.5em;
                    }
                    .cancel {
                        right: 1em;
                        top: 1.1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    html {
        body {

        }
    }
}

@media screen and (max-width: 340px) {
    html {
        body {

        }
    }
}
