@import '_variables';
@import '_mixins';

.section_pager {
    .pager {
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: baseline;
        -webkit-align-items: baseline;
        margin: 2px 0;
        padding: .6em 1em;
        background-color: #f0f0f0;
        text-align: center;
        .per_page {
            color: #bbb;
            input {
                width: 3.2em;
                margin: 0;
                padding: .5em;
                border: 1px solid #ddd;
                background-color: white;
                font-size: .9em;
                &:hover {
                    border-color: $orange;
                }
            }
        }
        .results {
            color: #bbb;
            .highlight {
                color: #000;
            }
        }
        .links {
            .button {
                padding: .4em .7em .5em;
                border: 1px solid #ddd;
                color: #f0f0f0;
                &.previous, &.next {
                    padding: .4em .8em .5em;
                }
            }
            a.button {
                text-decoration: none;
                background-color: white;
                color: #aaa;
                &:hover {
                    border-color: $orange;
                    background-color: $orange;
                    color: $white;
                    @include transition;
                }
            }
            input {
                width: 3.2em;
                margin: 0;
                padding: .51em;
                border: 1px solid #ddd;
                background-color: white;
                text-align: center;
                font-size: .9em;
                &:hover {
                    border-color: $orange;
                }
            }
        }
        a {
            color: #bbb;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
        input, a.button {
            @include input-box-shadow;
        }
    }
}
