@import '_variables';
@import '_mixins';

@media screen and (max-width: 760px) {
    // Filters.
    $mobileLabelWitdh: calc(20vw);
    $mobileFilterWidth: calc(80vw - 2.5em);
    // Rows.
    $mobileImageWidth: calc(15vw);
    $mobileNameWidth: calc(85vw - 1.6em);
    $mobileDistanceLeftMargin: calc(15vw + .8em);
    $mobileDistanceWidth: calc(30vw - 1.6em);
    $mobileElevationGainWidth: calc(55vw - 3.2em);
    $mobileAthleteWidth: calc(30vw);
    $mobileDateWidth: calc(55vw - 4.8em);

    html {
        body {
            .page_routes {

                .filters_toggle {
                    display: block !important;
                    margin: 0;
                    padding: 1.2em;
                    background-color: #f0f0f0;
                    text-align: center;
                    color: #888;
                    &:hover {
                        cursor: pointer;
                    }
                    &.active {
                        color: $black;
                        font-weight: bold;
                    }
                }

                .section_filters {
                    display: none;
                    $labelWidth: 6em;
                    flex-direction: column;
                    -webkit-flex-direction: column;
                    margin-top: 0;
                    padding-bottom: .5em;

                    .filter {
                        width: 100% !important;
                        display: flex;
                        flex-direction: row;
                        -webkit-flex-direction: row;
                        align-items: baseline;
                        padding: 0 1em 0 0;
                        .label {
                            width: $labelWidth;
                        }
                        .input {
                            width: calc(100% - #{$labelWidth});
                        }
                    }
                    .filter.type {
                        .input {
                            select {
                                width: auto;
                            }
                        }
                    }
                    .filter.distance, .filter.elevation {
                        .input {
                            justify-content: flex-start;
                            -webkit-justify-content: flex-start;
                            flex-direction: row;
                            -webkit-flex-direction: row;
                            input {
                                width: 5em;
                                margin-right: .5em;
                            }
                        }
                    }
                    .filter.updated {
                        .label {
                            display: none;
                        }
                        .input {
                            flex-direction: row;
                            -webkit-flex-direction: row;
                            margin-left: $labelWidth;
                            button {
                                width: calc(50% - .5em);
                            }
                        }
                    }

                    .advanced_filters_wrapper {
                        order: 7;
                        -webkit-order: 7;
                        .advanced_filters {
                            display: block !important;
                            .filter.location {
                                flex-direction: column;
                                -webkit-flex-direction: column;
                                .location_section {
                                    width: 100%;
                                }
                                .location_address {
                                    .input {
                                        .geolocate {
                                            top: 1.3em;
                                            right: .8em;

                                        }
                                    }
                                }
                            }
                            .label {
                                width: $labelWidth !important;
                            }
                            .input {
                                width: calc(100% - #{$labelWidth}) !important;
                            }
                        }
                        .advanced-filters-links {
                            display: none;
                        }
                    }

                    select, input:not([type='checkbox']), button {
                        padding: 1em !important;
                    }
                }
                // End .section_filters

                .section_rows {
                    .row {
                        flex-wrap: wrap;
                        -webkit-flex-wrap: wrap;
                        justify-content: space-around;
                        -webkit-justify-content: space-around;
                        padding: .5em .3em;
                        .cell {
                            margin: .2em 0;
                            padding: 0;
                            //border: 1px solid yellow;
                        }
                        .flex-line-break {
                            width: 100%;
                        }
                        .image {
                            width: $mobileImageWidth;
                            margin: 0;
                            img {
                                width: 15vw;
                                height: 10vw;
                            }
                        }
                        .name {
                            width: $mobileNameWidth;
                            //font-size: 1.1em;
                            .description {
                                display: none;
                            }
                        }
                        .distance {
                            width: $mobileDistanceWidth;
                            margin-left: $mobileDistanceLeftMargin;
                            padding-left: 1.6em;
                            background: url(../../images/icon-distance-grey.svg) no-repeat;
                            background-size: 1.3em 1.3em;
                            text-align: left;
                            font-size: .9em;
                            color: #aaa;
                        }
                        .elevation {
                            width: $mobileElevationGainWidth;
                            padding-left: 1.6em;
                            background: url(../../images/icon-elevation-gain-grey.svg) no-repeat;
                            background-size: 1.15em 1.15em;
                            text-align: left;
                            font-size: .9em;
                            color: #aaa;
                        }
                        .athlete {
                            display: none;
                            width: $mobileAthleteWidth;
                            margin-left: $mobileDistanceLeftMargin;
                            font-size: .9em;
                            color: #aaa;
                            a {
                                color: #aaa;
                            }
                        }
                        .updated {
                            display: none;
                            width: $mobileDateWidth;
                            font-size: .9em;
                            color: #999;
                        }
                    }
                }
                // End .section_rows

            }
        }
    }
}

@media screen and (max-width: 540px) {
    html {
        body {

        }
    }
}

@media screen and (max-width: 340px) {
    html {
        body {

        }
    }
}
