@import '_variables';
@import '_mixins';

$imageWidth: 75px;
$nameWidth: calc(40% - 2em);
$distanceWidth: calc(10% - 2em);
$elevationGainWidth: calc(10% - 2em);
$athleteWidth: calc(18% - 2em);
$updatedWidth: calc(12% - 2em);
$locationWidth: calc(30% - 2em);

.routes {
    .pager {
        position: relative;
        margin: 2px 0;
        padding: 1em;
        background-color: #f0f0f0;
        text-align: center;
        .per_page {
            position: absolute;
            top: .5em;
            left: 1em;
            color: #bbb;
            input {
                width: 2em;
                margin: 0;
                padding: .5em;
                border: 1px solid #ddd;
                background-color: white;
                font-size: .9em;
                &:hover {
                    border-color: $orange;
                }
            }
        }
        .results {
            color: #bbb;
            .number {
                color: #000;
            }
        }
        .links {
            position: absolute;
            top: .5em;
            right: 1em;
            .button {
                padding: .4em .7em .5em;
                border: 1px solid #ddd;
                color: #f0f0f0;
                &.previous, &.next {
                    padding: .4em .8em .5em;
                }
            }
            a.button {
                text-decoration: none;
                background-color: white;
                color: #aaa;
                &:hover {
                    border-color: $orange;
                    background-color: $orange;
                    color: $white;
                    @include transition;
                }
            }
            input {
                width: 2em;
                margin: 0;
                padding: .5em;
                border: 1px solid #ddd;
                background-color: white;
                text-align: center;
                font-size: .9em;
                &:hover {
                    border-color: $orange;
                }
            }
        }
        a {
            color: #bbb;
        }
    }

    .head {
        display: flex;
        margin: 2px 0 0;
        padding: 0;
        background-color: #f0f0f0;

        & > div {
            display: flex;
            padding: .5em 1em 0;
            .sort {
                margin: 0 0 0 .3em;
            }
        }
        &::after {
            content: "";
            clear: both;
            display: table;
        }
        &.even {
            background-color: #f9f9f9;
        }

        .image {
            width: $imageWidth;
        }
        .name {
            width: $nameWidth;
        }
        .distance {
            width: $distanceWidth;
            .unit {
                @include unit;
            }
        }
        .elevation_gain {
            width: $elevationGainWidth;
            .unit {
                @include unit;
            }
        }
        .athlete {
            width: $athleteWidth;
        }
        .updated {
            width: $updatedWidth;
        }
    }

    .filters {
        background-color: #f0f0f0;
        select, input:not([type='checkbox']), button {
            width: 95%;
            margin-top: .5em;
            padding: .5em;
            border: 1px solid #ddd;
            background-color: white;
            font-size: .9em;

            &::placeholder {
                color: #ccc;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                color: #ccc;
            }
            &::-ms-input-placeholder {
                color: #ccc;
            }
            &:hover {
                border-color: $orange;
            }
        }
        input:not([type='checkbox']), select, button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        select {
            background: $white url(../../images/icon-caret-down.svg) no-repeat right .4em center;
            background-size: 12px 8px;
        }
        input:not([type='checkbox']) {
            &:not(:placeholder-shown) {
                border-color: $orange;

            }
        }
    }
    .basic_filters {
        display: flex;
        margin: 0;
        border-bottom: 1px solid #eee;

        .filter {
            padding: 0 1em .5em;
        }

        .image {
            width: $imageWidth;
            select {
                color: #bbb;
                option {
                    .placeholder {
                        color: #bbb;
                    }
                }
                &.not_empty {
                    color: $black;
                    border-color: $orange;
                    .placeholder {
                        color: $black;
                    }
                }
            }
        }
        .name {
            width: $nameWidth;
        }
        .distance {
            width: $distanceWidth;
            display: flex;
            input {
                width: 40%;
                margin-right: .25em;
            }
        }
        .elevation_gain {
            width: $elevationGainWidth;
            display: flex;
            input {
                width: 40%;
                margin-right: .25em;
            }
        }
        .athlete {
            position: relative;
            width: $athleteWidth;
            .starred {
                position: absolute;
                margin-top: .3em;
                font-size: .9em;
            }
        }
        .updated {
            width: $updatedWidth;
            display: flex;
            button {
                margin-right: .5em;
                padding: .5em 1em;
                &.search {
                }
                &.reset {
                    background-color: #f0f0f0;
                    color: #bbb;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &.active {
                .reset {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
    .advanced_filters {
        .filter {
            margin-left: 22px;
            padding: 0 1em .5em 3em;
        }
        .location {
            display: flex;
            align-items: baseline;
            .label {
                width: 4%;
            }
            .address {
                width: 60%;
                position: relative;
                .geolocate {
                    position: absolute;
                    top: .9em;
                    right: 1.9em;
                    width: 18px;
                    height: 18px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .distance {
                width: 6%;
            }
        }
    }
    .filter-links {
        margin-top: -.25em;
        padding: 0 1em 1em 125px;
        font-size: .8em;
        color: #999;
        .advanced-filters-toggle {
            &:hover {
                cursor: pointer;
                color: black;
            }
        }
    }

    .rows {
        margin: 2px 0;

        .row {
            border-bottom: 1px solid #eee;
            &.even {
                background-color: #f9f9f9;
            }
            & > * {
                float: left;
                margin: 0;
                padding: $padding;
            }
            .image {
                width: $imageWidth;
            }
            .name {
                width: $nameWidth;
                .starred {
                    color: $orange;
                }
                .veloviewer {
                    text-decoration: none;
                    color: #bbb;
                    &:hover {
                        color: $orange;
                    }
                }
                .distances {
                    margin-top: .5em;
                    font-size: .8em;
                    color: #aaa;
                    .distance {
                        margin-right: 1em;
                        color: #333;
                    }
                }
            }
            .distance {
                width: $distanceWidth;
                .unit {
                    @include unit;
                }
            }
            .elevation_gain {
                width: $elevationGainWidth;
                .climb {
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    text-align: right;
                    vertical-align: bottom;
                    margin-right: .3em;
                    background-image: url(../../images/sprites-category.png);
                    &.cat-1 {
                        background-position: 0 -19px;
                    }
                    &.cat-2 {
                        background-position: 0 -38px;
                    }
                    &.cat-3 {
                        background-position: 0 -57px;
                    }
                    &.cat-4 {
                        background-position: 0 -76px;
                    }
                    &.cat-5 {
                        background-position: 0 -95px;
                    }
                }
                .unit {
                    @include unit;
                }
            }
            .athlete {
                width: $athleteWidth;
            }
            .updated {
                width: $updatedWidth;
            }
            &::after {
                content: "";
                clear: both;
                display: table;
            }
            .description {
                margin-top: .3em;
                font-size: .6em;
                color: #aaa;
                a {
                    text-decoration: none;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            .distance {
                text-align: right;
            }
            .elevation_gain {
                text-align: right;
            }
        }
    }
}

.autocomplete-search-string {
    font-weight: bold;
}
ul.ui-autocomplete.ui-menu {
    width: 60%;
    background-color: #f9f9f9;
    border: 1px solid #bbb;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        margin: 0;
        padding: .6em 1em;
        &:hover {
            background-color: white;
            cursor: pointer;
        }
    }
}
