@import '_variables';
@import '_mixins';

.page_routes {
    margin-bottom: 1em;
    font-size: .9em;
    .head, .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .cell {
            padding: 1em;
        }
        .number {
            text-align: right;
        }
    }
    .row {
        &.even {
            background-color: #f9f9f9;
        }
        &:hover {
            cursor: pointer;
            background-color: #FAEEE9;
        }
    }
    .head {
        background-color: #f0f0f0;
        border-bottom: 1px solid #e0e0e0;
    }
    .checkbox {
        order: 1;
        -webkit-order: 1;
        width: 2%;
    }
    .id {
        order: 2;
        -webkit-order: 2;
        width: 10%;
        color: #999;
    }
    .name {
        order: 3;
        -webkit-order: 3;

        width: 45%;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .distance {
        order: 5;
        -webkit-order: 5;
        width: 8%;
        white-space: nowrap;
        text-align: right;
    }
    .ascent {
        order: 6;
        -webkit-order: 6;
        width: 8%;
        white-space: nowrap;
        text-align: right;
    }
    .athlete {
        order: 7;
        -webkit-order: 7;
        width: 13%;
    }
    .created {
        order: 8;
        -webkit-order: 8;
        width: 12%;
        color: #999;
    }
    .updated{
        order: 9;
        -webkit-order: 9;
        width: 12%;
        color: #999;
    }
    .submit {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1em;
        background-color: #f0f0f0;
        text-align: center;
        .toggle {
            position: absolute;
            left: 1em;
            z-index: 5;
            margin-top: .5em;
        }
        button {
            padding: .7em 2em;
            border: 1px solid $orange;
            background-color: $orange;
            font-size: 1em;
            color: $white;
            &:hover {
                cursor: pointer;
                background-color: $orangeDark;
                @include transition;
            }
        }
        .cancel {
            position: absolute;
            right: 4em;
            top: 1.8em;
            a {
                color: #999;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .checkbox, .toggle {
        input, label {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    html {
        body {
            .page_routes {
                .id {
                    display: none;
                }
            }
        }
    }
}
