@import '_variables';
@import '_mixins';

.routes {
    margin-bottom: 1em;
    font-size: .9em;
    .head, .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .cell {
            padding: 1em;
        }
        .number {
            text-align: right;
        }
    }
    .row {
        &:hover {
            cursor: pointer;
            background-color: #f9f9f9;
        }
    }
    .head {
        background-color: #f0f0f0;
    }
    .checkbox {
        width: 2%;
    }
    .id {
        width: 5%;
    }
    .name {
        width: 30%;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .distance {
        width: 5%;
    }
    .elevation {
        width: 5%;
    }
    .athlete {
        width: 15%;
    }
    .created {
        width: 10%;
    }
    .updated{
        width: 10%;
    }
    .submit {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1em;
        background-color: #f0f0f0;
        text-align: center;
        .toggle {
            position: absolute;
            left: 1em;
            z-index: 5;
            margin-top: .5em;
        }
        button {
            padding: .7em 2em;
            border: 1px solid $orange;
            background-color: $orange;
            font-size: 1em;
            color: $white;
            &:hover {
                cursor: pointer;
                background-color: $orangeDark;
                @include transition;
            }
        }
        .cancel {
            position: absolute;
            right: 4em;
            top: 1.8em;
            a {
                color: #999;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .checkbox, .toggle {
        input, label {
            &:hover {
                cursor: pointer;
            }
        }
    }
}
