{% extends 'base.html.twig' %}

{% block header %}
    <div class="header">
        <div class="header1">
            <div class="header-item logo-title"><img src="images/logo.png" alt="Strava Route Explorer" title="Strava Route Explorer" width="125" height="35" /></div>
        </div>
    </div>
{% endblock %}
