{% extends 'base.html.twig' %}

{% block header %}
    <div class="header">
        <div class="header1">
            <div class="header-item logo-title"><img src="images/logo.png" alt="Route Explorer for Strava" title="Route Explorer for Strava" width="106" height="35" /></div>
        </div>
    </div>
{% endblock %}
