{% extends 'base.html.twig' %}

{% block title %}Maintenance - {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="immersive map-bg">
        <div class="text">
            <div class="small">503</div>
            <h2 class="title">Temporarily down for maintenance</h2>
            <h3 class="title">We are performing scheduled maintenance. We should be back online shortly.</h3>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('immersive') }}
{% endblock %}
