{% extends 'base.html.twig' %}

{% block title %}Maintenance - {{ parent() }}{% endblock %}

{% block body %}
    <div class="maintenance">
        <h1>Temporarily down for maintenance.</h1>
        <p>We are performing scheduled maintenance. We should be back online shortly.</p>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/maintenance.css') }}" />
{% endblock %}
